


#viewport {
/*  width:100px;*/
  padding: 100px;
  background: #eee;
}

.container {
  border:5px solid lightblue;
  overflow: hidden;  /* to get height set properly when elements float */
}

.container div {
  width: 30px;
  height: 30px;
  background-color: lightblue;
  margin: 10px;
  border:1px solid darkblue;
  padding: 20px;
  font-family: 'helvetica';
  font-weight: bold;

/*  float:left;*/

  /* for fun */
/*  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;*/
}

div#first{
  background-color: lightgreen;
  height: 40px;
}

div#third {
  background-color:lightpink;
  height: 20px;
}

div#fourth {
  background-color:lightyellow;
  height: 150px;
  width: 100px;
}

div#sixth {
  background-color:lightskyblue;
}


#outer {
  background: #cbc;
  width: 500px;
}

#inner {
  background: yellow;
  width: auto;
  height: 200px;
}