
body {
  margin: 0px;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 23px;
}

h2 {
  font-size: 20px;
}


header {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e3e3e3;
}

#sidebar{
  padding: 30px;
  padding-right: 60px;
  border-right: 1px solid #e3e3e3;
}


#logo {
  width: 112px;
  height: 112px;
  border-radius: 70px;
  border: 7px solid lightblue;
  padding: 7px;
}

#logo-inner{
  width: 112px;
  height: 112px;
  border-radius: 56px;
  background: lightblue;
}

#kudos-container{
  padding-top: 70px;
  padding-right: 20px;
}

#kudos{
  width: 15px;
  height: 15px;
  border-radius: 56px;
  border: 5px solid black;
  padding: 17px;
}

#kudos-inner { 
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: black;
}


#content {
  padding: 40px;
  min-width: 400px;
}

#content h2, #content p {
  max-width: 500px;
}
